<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>com.touchingapp.potatsolite</key>
                <array>
                    <dict>
                        <key>com.touchingapp.potatsolite</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://www.papavpn.com/admin/download/Potatso-Lite-1.4.0.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>com.touchingapp.potatsolite</key>
                    <string>cn</string>
                    <key>bundle-version</key>
                    <string>1.4.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>下载</string>
                    <key>com.touchingapp.potatsolite</key>
                    <string></string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
